Важные моменты:
1) +Убрать название заказчика из названий от дилеров
2) +Проверить названия на всех платформах, и брать все уникальные слова, что есть на платформах (по каждому названию в таблице продукции)
3) +Соединять данные по последней таблице разметки, с нее же делить на выборки
4) ? 2 варианта: обучать по таблице с разметкой (как? Собрать свою метрику Андрей предлаал) или без учителя (сравнивать с ними же, но диллеров)
5) Выдавать не чисто 5 вариантов, а те варианты, которые проходят какой то порог, либо сделать настраиваемый. (В ТЗ указано, что это должно быть настраиваемым, значит первыми выводить наиболее вероятные)
6) -Пайплайн или нет? Возможно
7) -Подходит ли для задачи BERT? Андрей пробует
8) -Умеет ли кто работать с классами? 
9) -Градиентный бустинг в какой момент? 

Работа с текстом:

0) +очистка от знаков, один регистр
1) +Лемматизация
2) Мешок слов
3) N-граммы
4) +TF-IDF



Ход работы:

0) Формат вывода для бэкэнда (допустим передаем лучшие 10 в порядке убывания, а пользователь через интерфейс сам выбирает сколько выводить)
1) +Очистка, преобразование текста, Собрать уникальные слова в названиях (от заказчика)
2) ?собрать датасет для МО
3) +Утвердить или разработать метрику оценки
4) проверить разные стратегии: обучить или по наименьшему расстояни между векторами
5) Сравнить стратегии/модели
6) Завернуть в функцию/ функции

Ира:
1) +Изменение чисел на строки, очистка от прочих знаков
2) +Убрать просепт в названиях
3) +Лемматизация текста
4) пайплайн на будущее

Денис:
1) +Регулярное выражение на изменение единиц измерения объема, выделить их в отдельную фичу
2) +Собрать уникальные слова с названий всех платформ
3) +Выдача первого результата если есть артикул

Андрей:
1) пробует BERT
2) TF-IDF

In [ ]:
!pip install pandas
!pip install numpy
!pip install spacy
!pip install faiss-cpu
!pip install nltk
!pip install scikit-learn

!python -m spacy download ru_core_news_sm
!python -m spacy download en_core_web_sm

In [66]:
import numpy as np
import matplotlib
import pandas as pd
import re
from matplotlib import pyplot as plt
import spacy
from collections import OrderedDict

from scipy.spatial.distance import pdist, squareform


import nltk
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from nltk.corpus import stopwords as nltk_stopwords
import faiss

In [2]:
def csv_reading(path='', prep=True):
    # Функция загрузки данных. по умолчани берет файли из директории и проводит препроцессинг
    # Если установить prep=False то загрузит сырые данные как они есть
    dealers = pd.read_csv(path+'marketing_dealer.csv', sep=';')
    parser = pd.read_csv(path+'marketing_dealerprice.csv', sep=';')
    products = pd.read_csv(path+'marketing_product.csv', sep=';')
    matches = pd.read_csv(path+'marketing_productdealerkey.csv', sep=';')
    if prep==True:
        dealers = dealers.sort_values('id').reset_index(drop=True) #Сортируем диллеров по id 
        parser = parser.drop(['id','product_url', 'date'], axis=1).drop_duplicates().rename(columns={'product_key': 'key'}).reset_index(drop=True)
        products = products.drop(['Unnamed: 0', 'ean_13','category_id', 'ozon_article', 'wb_article', 'ym_article', 'wb_article_td'], axis=1)
        matches = matches.drop(['id','dealer_id'], axis=1)
    return dealers, parser, products, matches

In [61]:
dealers, parser, products, matches = csv_reading()

**Функции**

In [3]:
def text_worker(name): #отдельно функция для предварительной очистки текста
    #добавляем пробел на явных стыках и переходах
    pattern = [r"([а-я])([a-zA-ZА-Я])", r"([А-Я])([A-Za-z])", r"([a-z])([A-Zа-яА-Я])"]     
    for p in pattern:
        try:
            name = re.sub(p, "\\1 \\2", name)
        except:
            pass
    name = name.lower()
    bad = ['просепт','prosept50','prosept50,', 'prosepteco50','prosepteco50,','ultra', 'crystal', '-ая', 'prosept','ф/п']
    good = ['prosept',' prosept50 ',' prosept50 ', ' prosepteco50 ', ' prosepteco50 ', ' ultra ', ' crystal ', '', '', 'пакет']
    for o,n in zip(bad, good):
        name = name.replace(o,n)
    return name

In [5]:
def change_equal(name): 
    '''Функция принимает текст и пытается вытащить из него 
    артитул, еденицы измерения, количество (переводя в одну единицу измерения), текст очищеный от предыдущих элементов
    и все это возвращает в види словаря'''
    name = text_worker(name)
    dictionary={}
    try:
        article = re.search(r' \d+-\d+/?\d?[а-я]?',name)[0].strip()
        name = name.replace(article,'')
    except:
        article = np.nan
    try:
        v = re.findall(r'\d+(?:[\.,]\d+)? ?(?:мл|кг|г|л|шт)',name)[-1]
        dimension = re.search(r'[млкгшт]+',v)[0]
        quantity = float(v.replace(dimension,'').replace(',','.'))
        if dimension == 'мл':
            quantity = quantity/1000
            dimension = 'л'
        elif dimension == 'г':
            quantity = quantity/1000
            dimension = 'кг'
        name = name.replace(v,'')
        #for _v_ in v
        #    name = name.replace(_v_,'')
    except:
        dimension = np.nan
        quantity = 0
    finally:
        dictionary['name_new'] = ' '.join(re.sub(r'\W+', ' ', name).split(r'\W+'))
        dictionary['article'] = article
        dictionary['dimension'] = dimension
        dictionary['quantity'] = quantity
        return dictionary

In [39]:
def lemmatizate(text, nlp, nlp_ru):
    doc = nlp(text)
    text = " ".join([token.lemma_ for token in doc])
    doc_ru = nlp_ru(text)
    return " ".join([token.lemma_ for token in doc_ru])

In [52]:
def parser_prep(parser):
    # работаем с таблицей работы парсера
    parser_new = parser['product_name'].apply(lambda x: change_equal(x)).apply(pd.Series)
    parser_final = pd.concat([parser, parser_new],axis=1).drop(['product_name'], axis=1)
    parser_final['article'] = parser_final['article'].fillna('')
    
    nlp = spacy.load('en_core_web_sm', disable=['parser', 'ner'])
    nlp_ru = spacy.load('ru_core_news_sm', disable=['parser', 'ner'])
    parser_final['name_new'] = parser_final['name_new'].apply(lambda x: lemmatizate(x,nlp, nlp_ru))
    
    return parser_final

In [53]:
def products_prep(products): # выдает финальную версию таблицы продукции
    #заполняем пропуски
    name_columns = ['name_1c', 'ozon_name', 'name', 'wb_name']
    products['name_1c'] = products['name_1c'].fillna(products['name'])
    products['ozon_name'] = products['ozon_name'].fillna(products['name_1c'])
    products[name_columns] = products[name_columns].fillna('')
    
    #Из субъективно лучшей колонки названия вытаскиваем количество и ед.измерения из остальных только очищеное имя
    name_1c = products['name_1c'].apply(change_equal).apply(pd.Series).rename(columns={'name_new': 'name_1c_new'})['name_1c_new']
    ozon_name = products['ozon_name'].apply(change_equal).apply(pd.Series).drop(['article'],axis=1).rename(columns={'name_new': 'ozon_name_new'})
    name_1 = products['name'].apply(change_equal).apply(pd.Series).rename(columns={'name_new': 'name_new'})['name_new']
    wb_name = products['wb_name'].apply(change_equal).apply(pd.Series).rename(columns={'name_new': 'wb_name_new'})['wb_name_new']
    products1 = pd.concat([products, ozon_name, name_1c, wb_name, name_1],axis=1)
    
    #Соединяем названия из 4х колонок в full name (только уникальные слова в том же порядке)
    products1['full_name'] = products1.apply(lambda x: ' '.join(list(dict.fromkeys((x['name_1c_new']+' '+x['ozon_name_new']+' '+x['name_new']+' '+x['wb_name_new']).split()))), axis=1)
    
    #лемматизируем
    nlp = spacy.load('en_core_web_sm', disable=['parser', 'ner'])
    nlp_ru = spacy.load('ru_core_news_sm', disable=['parser', 'ner'])
    products1['full_name'] = products1['full_name'].apply(lambda x: lemmatizate(x,nlp, nlp_ru))
    
    products1['article'] = products1['article'].apply(lambda x: x.lower())
    
    #Собираем финальную версию таблицы продукции
    products_final = products1.loc[:,['id','article','cost','recommended_price', 'full_name', 'dimension', 'quantity']]
    
    #заполняем пропуски рекомендованной цены медианой
    products_final['recommended_price'] = products_final['recommended_price'].fillna(products_final['recommended_price'].median())
    return products_final

In [ ]:
def find_product_id_by_article(article):
    if type(article) == '':
        return np.nan
    else:
        #print(f'Артикул {article}, будет поиск')
        try:
            id = int(list(products_final.loc[products_final['article']==article].id)[0]) #fr"'.*{article}.*'"
        except:
            return np.nan
        return id

In [54]:
#не доделали
def main_function(path=''):
    # загрузка документов
    dilers , parser, products, matches = csv_reading(path)
    # преобразование текста(обе таблицы, лемматизация)
    parser_final = parser_prep(parser)
    products_final = products_prep(products)
    
    # ? поиск по артикулу
    #если есть - добавляем первый элемент в словарь
    
    # Tf-idf
    
    # сборка каждый к каждому, отбор дистанции топ-10
    
    # классификация через модель
    # отбор топ-n по predict-proba
    
    return dilers, products_final, parser_final, matches #dict of preps

In [55]:
dilers, products_final, parser_final, matches= main_function()

In [57]:
products_final

,id,article,cost,recommended_price,full_name,dimension,quantity
0,245,008-1,360.00,858.0,антисептик невымываемый для ответственный конс...,л,1.00
1,3,242-12,460.16,1075.0,антигололед 32 готовый состав,кг,12.00
2,443,0024-06 с,307.00,644.0,герметик акриловый цвет сосна пакет для шов де...,л,0.60
3,147,305-2,157.73,342.0,кондиционер для бельё королевский ирис crystal...,л,2.00
4,502,0024-7 б,NaN,891.0,герметик акриловой цвет белый,кг,7.00
...,...,...,...,...,...,...,...
491,127,152-5,849.78,1985.0,средство для уборка помещение после пожар с де...,л,5.00
492,160,289-1,201.00,436.0,гель для стирка шерсть шёлк и деликатный ткань...,л,1.00
493,74,192-05,108.60,254.0,cредство для чистка гриль и духовка cooky gril...,л,0.50
494,34,186-5,579.74,1354.0,профессиональный средство для мытьё пол с поли...,л,5.00
495,52,113-075,75.00,176.0,усиленный средство для удаление ржавчина и мин...,л,0.75

data.query('(article_pars!=article_prod)&~article_pars.isna()&~article_prod.isna()')

data.query('article_pars==article_prod')

parser['product_id']= parser['article'].apply(find_product_id_by_article)

**Все что ниже - не успели обернуть в функции и закинуть в главную функцию**

In [114]:
base = products_final.copy().set_index('id').drop(['cost'],axis=1)
parser_matches = parser_final.merge(matches, how='right',left_on='key',right_on='key').dropna(subset=['name_new']).drop_duplicates().groupby('key').first().reset_index()
parser_matches = parser_matches[['key','price', 'name_new', 'article','quantity','dimension','product_id']]
targets = parser_matches["product_id"]
query = parser_matches.drop("product_id", axis=1)

In [276]:
parser_matches

,key,price,name_new,article,quantity,dimension,product_id
0,100002946,7250.0,professional огнебиозащита i сухой концентр...,,16.00,кг,311
1,100067707,3105.0,50 отбеливатель для древесина желтоватый,,10.00,л,242
2,100067708,1805.0,aquaisol пропитка для камень гидрофобизирую...,,5.00,л,397
3,100067709,1129.0,антижук антисептик универсальный против жук...,,10.00,л,289
4,100067710,1107.0,антиплесень антисептик универсальный против...,,10.00,л,291
...,...,...,...,...,...,...,...
1597,https://kub02.ru/catalog/prosept/antiseptik_un...,613.0,антисептик универсальный для внутр и наружн ec...,,5.00,л,281
1598,https://kub02.ru/catalog/prosept/antiseptik_un...,748.0,антисептик универсальный для внутр и наружн un...,,1.00,л,259
1599,https://kub02.ru/catalog/prosept/antiseptik_un...,620.0,антисептик универсальный против грибок и плесе...,,5.00,л,290
1600,https://kub02.ru/catalog/prosept/lak_dlya_bani...,531.0,лак для баня и сауна термостойкий акриловый,,0.90,л,321
1601,https://kub02.ru/catalog/prosept/maslo_dlya_za...,418.0,масло для защита полок sauna oil готовый состав,,0.25,л,320

In [71]:
korpus = pd.concat([products_final['full_name'], parser_final['name_new']])

In [72]:
nltk.download('stopwords')

stopwords=set(nltk_stopwords.words('russian'))
count_tf_idf = TfidfVectorizer(stop_words=list(stopwords))
count_tf_idf.fit(korpus)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\den_m\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

TfidfVectorizer(stop_words=['никогда', 'чтоб', 'этой', 'ведь', 'какой', 'потом',
                            'при', 'этого', 'тут', 'или', 'моя', 'с', 'от',
                            'будет', 'себе', 'всех', 'ничего', 'более', 'да',
                            'чтобы', 'нас', 'какая', 'к', 'ней', 'конечно',
                            'не', 'куда', 'вот', 'было', 'тебя', ...])

pd.DataFrame(count_tf_idf.transform(base['full_name']).toarray()).set_index(base.index)

In [126]:
base_tfidf = pd.DataFrame(count_tf_idf.transform(base['full_name']).toarray()).set_index(base.index)
query_tfidf = pd.DataFrame(count_tf_idf.transform(query['name_new']).toarray())

#train_tfidf['product_id'] = train['product_id_y']

In [127]:
query_tfidf

,0,1,2,3,4,5,6,7,8,9,...,792,793,794,795,796,797,798,799,800,801
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1597,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1598,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1599,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1600,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1601,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [128]:
base_tfidf.columns = base_tfidf.columns.astype('str')
query_tfidf.columns = query_tfidf.columns.astype('str')
#base_tfidf = base_tfidf.drop(['recommended_price','article',], axis=1)
#train_tfidf = train_tfidf.drop(['price'], axis=1)

In [282]:
targets

0       311
1       242
2       397
3       289
4       291
       ...
1597    281
1598    259
1599    290
1600    321
1601    320
Name: product_id, Length: 1602, dtype: int64

num = list(base_tfidf.columns)
#num.remove('article')
num1 = list(train_tfidf.columns)
#num1.remove('article')

scaler = MinMaxScaler()
base_tfidf_scaled = pd.DataFrame(scaler.fit_transform(base_tfidf[num]), columns=scaler.feature_names_in_).set_index(base_tfidf.index)
train_tfidf_scaled = pd.DataFrame(scaler.transform(train_tfidf[num1]), columns=scaler.feature_names_in_)

In [262]:
def accuracy_aggregator(targets, idx, base_index):
    acc = 0
    for target, el in zip(targets.values.tolist(), idx.tolist()):
        acc += int(target in [base_index[r] for r in el[:5]])
    result = 100 * acc / len(idx)
    return result

In [130]:
dims = base_tfidf.shape[1]
n_cells = 1 # количество центроидов
quantizer = faiss.IndexFlatL2(dims)
idx_l2 = faiss.IndexIVFFlat(quantizer, dims, n_cells)

In [131]:
# подготовка к поиску
idx_l2.train(np.ascontiguousarray(base_tfidf.values).astype('float32'))
idx_l2.add(np.ascontiguousarray(base_tfidf.values).astype('float32'))

In [241]:
# создание словаря для нахождения индекса товара в базовом наборе данных
base_index = {k: v for k, v in enumerate(base_tfidf.index.to_list())}
vecs, idx = idx_l2.search(np.ascontiguousarray(query_tfidf.values).astype('float32'), 10)

In [274]:
dict_of_preds = {k: v for k, v in zip(query['key'],idx)}

In [278]:
dict_of_preds

{'100002946': array([ 23,  35,  98,  67, 108, 418, 374,  41, 126, 164], dtype=int64),
 '100067707': array([ 92,  10, 255, 260, 261,  23,  35,  98, 202, 204], dtype=int64),
 '100067708': array([441, 465,  23,  35,  98, 209, 220, 265, 198, 308], dtype=int64),
 '100067709': array([365, 483,  23,  35,  98, 259, 258,   8, 361, 364], dtype=int64),
 '100067710': array([259, 258,  23,  35,  98,  43, 365, 483, 487,   8], dtype=int64),
 '100067711': array([373, 375, 396, 400,  23,  35,  98, 361, 364, 106], dtype=int64),
 '100067715': array([253, 466, 284,  23,  35,  98, 194, 195, 206, 192], dtype=int64),
 '100067716': array([ 23,  35,  98, 372, 480,  63, 192, 196, 208, 408], dtype=int64),
 '100067717': array([191, 193, 201,  55, 143, 399, 402, 142, 128, 144], dtype=int64),
 '100067718': array([409, 412,  56, 387, 132,  23,  35,  98, 250, 212], dtype=int64),
 '100067719': array([  0, 411, 413, 337, 345, 475,  23,  35,  98,  99], dtype=int64),
 '100067720': array([361, 364, 257, 262, 263, 112, 106,  23,  35,  98], dtype=int64),
 '100067721': array([ 23,  35,  98, 361, 364, 471, 197, 205, 202, 204], dtype=int64),
 '100067722': array([189, 373, 375, 369, 361, 364,  23,  35,  98, 403], dtype=int64),
 '100067723': array([192, 196, 208,  23,  35,  98, 408, 415, 471, 197], dtype=int64),
 '100067724': array([408, 415, 470,  23,  35,  98, 192, 196, 208, 194], dtype=int64),
 '100070803': array([ 77,  78,  23,  35,  98, 234, 237,  81,  82,  83], dtype=int64),
 '100119608': array([398, 404,  23,  35,  98, 251, 409, 132, 412,  56], dtype=int64),
 '100121642': array([447, 451,  23,  35,  98, 459, 323, 277, 287, 102], dtype=int64),
 '100121646': array([ 46,  47,  23,  35,  98, 115, 169, 442, 281, 283], dtype=int64),
 '100121662': array([435, 446,  23,  35,  98, 136, 181, 343, 447, 451], dtype=int64),
 '100121663': array([ 23,  35,  98, 178, 461, 361, 364, 435, 446, 136], dtype=int64),
 '100121664': array([ 23,  35,  98, 447, 451, 448, 178, 313, 420, 137], dtype=int64),
 '100121666': array([343, 178,  23,  35,  98, 435, 446, 488, 136, 181], dtype=int64),
 '100121667': array([315,  23,  35,  98, 251,  64, 278, 247, 279, 213], dtype=int64),
 '100121671': array([341,  23,  35,  98, 488, 343, 174, 322, 443, 495], dtype=int64),
 '100121675': array([213,  23,  35,  98, 210, 215,  68, 488, 343, 173], dtype=int64),
 '100121679': array([251, 247,  23,  35,  98, 398, 250, 404, 200, 245], dtype=int64),
 '100121681': array([335, 379,  23,  35,  98, 176, 318, 333,  91,   9], dtype=int64),
 '100121686': array([ 23,  35,  98, 352, 354, 322, 443, 495, 176, 419], dtype=int64),
 '100121687': array([275, 419, 426, 269, 270, 273, 352, 354,  23,  35], dtype=int64),
 '100121688': array([269, 270, 176,  91,  23,  35,  98,  65, 273, 136], dtype=int64),
 '100121691': array([250, 200,  23,  35,  98, 245, 409, 212, 221, 251], dtype=int64),
 '100121694': array([248, 249,  23,  35,  98, 275,  62, 419, 426, 176], dtype=int64),
 '100121695': array([ 97, 176,  48,  91,  23,  35,  98,  65,  24, 147], dtype=int64),
 '100121696': array([147,  15,  90, 176,  91,  65,  23,  35,  98,  24], dtype=int64),
 '100121699': array([176,  91,  65,  23,  35,  98, 269, 270, 419, 426], dtype=int64),
 '100121700': array([  9, 353,  23,  35,  98, 367, 370, 176,  91, 419], dtype=int64),
 '100121701': array([494, 304,  23,  35,  98, 310, 176, 305, 419, 426], dtype=int64),
 '100121702': array([304,  23,  35,  98, 275, 176, 419, 426,  62,  65], dtype=int64),
 '100121703': array([310, 304,  23,  35,  98, 305, 494, 419, 426,   9], dtype=int64),
 '100121705': array([305,  23,  35,  98, 304, 310, 494, 322, 443, 495], dtype=int64),
 '100121713': array([321, 436,  23,  35,  98, 394, 177, 264, 322, 443], dtype=int64),
 '100121719': array([ 23,  35,  98, 459, 323, 258, 259, 192, 196, 208], dtype=int64),
 '100121722': array([319, 450,  23,  35,  98, 173,  77,  78, 325, 327], dtype=int64),
 '100121726': array([319, 450,  23,  35,  98, 448, 313, 173,  77,  78], dtype=int64),
 '100121727': array([314,  23,  35,  98, 313, 316, 427, 449, 448, 488], dtype=int64),
 '100121736': array([267, 276, 282, 285, 288, 286,  23,  35,  98, 162], dtype=int64),
 '100121737': array([162, 286,  23,  35,  98, 267, 276, 282, 285, 288], dtype=int64),
 '100121741': array([317, 336, 134, 332,  23,  35,  98, 318, 333, 278], dtype=int64),
 '100121742': array([318, 333, 134, 317, 336,  23,  35,  98, 332, 419], dtype=int64),
 '100121743': array([318, 333,  23,  35,  98, 134, 317, 336, 332, 456], dtype=int64),
 '100121749': array([175, 462,  23,  35,  98,  28, 448, 452, 313, 463], dtype=int64),
 '100121750': array([463, 326, 309, 458, 493,  23,  35,  98, 452,  28], dtype=int64),
 '100121751': array([309, 458, 493, 463, 326,  23,  35,  98, 169,  29], dtype=int64),
 '100121752': array([ 28, 452,  31,  23,  35,  98, 463, 326, 462, 309], dtype=int64),
 '100121753': array([116,  23,  35,  98, 456, 250, 343, 435, 446, 136], dtype=int64),
 '100121756': array([456,  23,  35,  98,  39, 460,  42, 489, 116, 318], dtype=int64),
 '100121759': array([461,  23,  35,  98, 455, 314,  26, 448, 313, 178], dtype=int64),
 '100121760': array([455, 461,  23,  35,  98, 314, 448, 313, 178, 462], dtype=int64),
 '100121761': array([ 25, 330,  23,  35,  98, 324, 168, 170, 131, 334], dtype=int64),
 '100121762': array([170, 334, 167,  23,  35,  98,  25, 330, 324, 168], dtype=int64),
 '100121763': array([131, 328, 130,  23,  35,  98,  25, 330, 324, 168], dtype=int64),
 '100121764': array([168, 167,  29, 130,  25, 330, 138, 324,  23,  35], dtype=int64),
 '100121765': array([167, 168,  23,  35,  98, 170,  29, 130, 138, 334], dtype=int64),
 '100121766': array([130, 168, 131, 167,  29, 328,  25, 330, 138,  23], dtype=int64),
 '100121768': array([ 25, 330, 169, 324, 168, 170, 131,  23,  35,  98], dtype=int64),
 '100121769': array([338,  34, 140, 171,  39, 344,  42,  23,  35,  98], dtype=int64),
 '100121770': array([ 34, 344, 100, 172,  39,  42, 338,  23,  35,  98], dtype=int64),
 '100121772': array([342,  39, 344,  34, 338,  23,  35,  98, 460, 457], dtype=int64),
 '100121773': array([ 34,  39,  23,  35,  98,  42, 344, 338, 460, 100], dtype=int64),
 '100121775': array([457,  42,  34,  23,  35,  98, 344,  39, 338, 460], dtype=int64),
 '100121776': array([331,  23,  35,  98,  25, 330, 324, 183, 168, 170], dtype=int64),
 '100121777': array([ 23,  35,  98, 423, 424, 421, 269, 270, 158, 160], dtype=int64),
 '100121778': array([432, 437,  23,  35,  98, 491, 378, 380, 175, 462], dtype=int64),
 '100121783': array([420,  23,  35,  98,  49, 156,  60, 175, 462,  68], dtype=int64),
 '100121787': array([ 31,  23,  35,  98,  28, 452, 322, 443, 495, 429], dtype=int64),
 '100121788': array([ 32,  23,  35,  98, 394, 251, 456,  68, 116, 444], dtype=int64),
 '100121791': array([378, 380,  23,  35,  98, 372, 480, 422, 304,  63], dtype=int64),
 '100121792': array([422,  23,  35,  98, 378, 380,  31, 301, 302, 304], dtype=int64),
 '100121793': array([190, 486,  23,  35,  98, 194, 192, 196, 367, 370], dtype=int64),
 '100121796': array([429, 444, 445,  23,  35,  98, 322, 443, 495, 378], dtype=int64),
 '100121797': array([491,  23,  35,  98, 444, 445, 432, 437, 429, 349], dtype=int64),
 '100121798': array([216, 214, 472,  23,  35,  98,  68,  50, 194, 195], dtype=int64),
 '100121799': array([377, 381,  52,  23,  35,  98,  86, 216, 190, 486], dtype=int64),
 '100121800': array([ 52,  23,  35,  98, 377, 381,  86, 129,  31, 254], dtype=int64),
 '100121801': array([ 23,  35,  98,  85, 394, 265,  68, 444, 445,  86], dtype=int64),
 '100121816': array([217, 218,  23,  35,  98, 211, 219, 174, 186, 199], dtype=int64),
 '100121822': array([290, 297,  23,  35,  98,   8, 438, 440, 361, 364], dtype=int64),
 '100121823': array([367, 370,  23,  35,  98,  36, 179, 349, 350, 428], dtype=int64),
 '100121824': array([428, 490,  23,  35,  98, 180, 367, 370, 349, 350], dtype=int64),
 '100121825': array([367, 370,  23,  35,  98,  36, 179, 349, 350, 428], dtype=int64),
 '100121826': array([184, 233,  23,  35,  98, 239, 252,  33, 238, 240], dtype=int64),
 '100121832': array([355, 348,  23,  35,  98, 362, 428, 490, 367, 370], dtype=int64),
 '100121834': array([428, 490,  23,  35,  98, 180, 367, 370, 349, 350], dtype=int64),
 '100121835': array([367, 370,  23,  35,  98, 349, 350,  36, 179, 428], dtype=int64),
 '100121837': array([434, 492,  23,  35,  98, 428, 490, 367, 370, 349], dtype=int64),
 '100121838': array([ 54,  23,  35,  98, 341, 137, 488, 343, 459, 447], dtype=int64),
 '100121839': array([137,  23,  35,  98,   9, 353, 341,  54, 488, 343], dtype=int64),
 '100121975': array([277, 287, 447, 451,  23,  35,  98, 459, 323, 331], dtype=int64),
 '100122364': array([217, 218,  23,  35,  98, 174, 211, 219, 374, 306], dtype=int64),
 '100122412': array([ 57,  23,  35,  98,  96, 132, 128,  92,  99, 194], dtype=int64),
 '1001472194': array([ 23,  35,  98,  71, 294, 296,  12,  13,  17,  18], dtype=int64),
 '1001472223': array([ 23,  35,  98, 191, 193, 201, 142,  81,  82,  83], dtype=int64),
 '1001472224': array([ 23,  35,  98, 191, 193, 201, 142,  81,  82,  83], dtype=int64),
 '1001472225': array([ 23,  35,  98,  92,  10, 255, 260, 261, 202, 204], dtype=int64),
 '1001472226': array([ 23,  35,  98, 191, 193, 201, 142,  96, 337, 345], dtype=int64),
 '1001472227': array([191, 193, 201, 142,  96, 337, 345, 475, 128,  23], dtype=int64),
 '1001472228': array([ 23,  35,  98, 191, 193, 201, 142,  96, 337, 345], dtype=int64),
 '1001472229': array([ 23,  35,  98, 191, 193, 201, 142,  96, 337, 345], dtype=int64),
 '1001472230': array([ 23,  35,  98,  99,  55, 143, 399, 402,   0, 411], dtype=int64),
 '1001472232': array([ 23,  35,  98,  96, 132, 128,  99, 191, 193, 201], dtype=int64),
 '1001472233': array([ 23,  35,  98,  96, 132, 128,  99, 191, 193, 201], dtype=int64),
 '1001472234': array([ 23,  35,  98, 191, 193, 201, 142, 189, 373, 375], dtype=int64),
 '1001472235': array([ 23,  35,  98, 191, 193, 201, 142, 189, 373, 375], dtype=int64),
 '1001472237': array([191, 193, 201, 142,  96, 337, 345, 475, 128,  23], dtype=int64),
 '1001472238': array([ 23,  35,  98,  96, 132, 128,  99, 191, 193, 201], dtype=int64),
 '1001472239': array([ 23,  35,  98,  96, 132, 128,  99, 191, 193, 201], dtype=int64),
 '1001472240': array([ 23,  35,  98, 365, 483,  13,  18,  50,  74,  75], dtype=int64),
 '1001472241': array([ 23,  35,  98,  13,  18,  50,  74,  75,  76, 121], dtype=int64),
 '1001472242': array([ 23,  35,  98,  13,  18,  50,  74,  75,  76, 121], dtype=int64),
 '1001472243': array([ 23,  35,  98, 125, 165,  41, 126, 164, 386, 385], dtype=int64),
 '1001472244': array([ 23,  35,  98, 125, 165,  41, 126, 164, 386, 385], dtype=int64),
 '1001472245': array([ 23,  35,  98, 125, 165,  41, 126, 164, 386, 385], dtype=int64),
 '1001472246': array([ 23,  35,  98,  99,  55, 143, 399, 402,   0, 411], dtype=int64),
 '1001472247': array([ 23,  35,  98, 203,  71, 439, 185, 102, 183, 210], dtype=int64),
 '1001472248': array([ 23,  35,  98, 203,  71, 439, 185, 102, 183, 210], dtype=int64),
 '1001472249': array([ 23,  35,  98, 188,  70, 433, 187,  41,  66,  79], dtype=int64),
 '1001472250': array([ 23,  35,  98, 203,  71, 439, 185,   0,   1,   2], dtype=int64),
 '1001472252': array([ 23,  35,  98,  71, 420,  12,  13,  17,  18,  51], dtype=int64),
 '1001472253': array([ 23,  35,  98,  68, 216, 214, 472,  86,  85,  64], dtype=int64),
 '1001472254': array([ 86,  23,  35,  98, 377, 381,  52,  68,  85, 444], dtype=int64),
 '1001472255': array([ 86,  23,  35,  98, 377, 381,  52,  68,  85, 444], dtype=int64),
 '1001472256': array([ 23,  35,  98, 192, 196, 208, 471, 197, 205, 408], dtype=int64),
 '1001472257': array([ 23,  35,  98, 112,  42,  92, 102, 107, 202, 204], dtype=int64),
 '1001472258': array([ 23,  35,  98, 112,  42,  92, 102, 107, 202, 204], dtype=int64),
 '1001472259': array([ 23,  35,  98, 112,  42,  92, 102, 107, 202, 204], dtype=int64),
 '1001472260': array([253, 466, 284,  23,  35,  98,   0,  29,  62, 107], dtype=int64),
 '1001472261': array([ 23,  35,  98,  71, 420,  12,  13,  17,  18,  19], dtype=int64),
 '1001472262': array([ 23,  35,  98, 133, 329, 477,  69, 102, 125, 165], dtype=int64),
 '1001472263': array([ 23,  35,  98, 316, 427, 449, 102, 115, 447, 451], dtype=int64),
 '1001472264': array([ 23,  35,  98, 177, 321, 436, 322, 443, 495,  26], dtype=int64),
 '1001472265': array([ 23,  35,  98, 133, 459, 316, 427, 449, 323, 173], dtype=int64),
 '1001472266': array([ 23,  35,  98, 448, 313, 133, 459, 316, 427, 449], dtype=int64),
 '1001472267': array([ 23,  35,  98, 173, 319, 450, 133, 459, 316, 427], dtype=int64),
 '1001472268': array([ 23,  35,  98, 245, 176, 200, 275, 250,  91, 419], dtype=int64),
 '1001472269': array([ 23,  35,  98, 419, 426, 245, 176, 200, 275, 250], dtype=int64),
 '1001472270': array([245,  23,  35,  98, 200, 250, 247, 251, 176, 275], dtype=int64),
 '1001472271': array([ 23,  35,  98, 134, 317, 336, 332, 318, 333,  72], dtype=int64),
 '1001472272': array([ 23,  35,  98, 318, 333, 134, 317, 336, 456, 332], dtype=int64),
 '1001472273': array([ 23,  35,  98, 488, 343, 178, 341,  68, 265, 314], dtype=int64),
 '1001472274': array([ 23,  35,  98, 210, 215, 213,  68,  64, 247, 361], dtype=int64),
 '1001472275': array([ 23,  35,  98, 264, 304, 310, 305,  68,  64, 247], dtype=int64),
 '1001472276': array([ 23,  35,  98,  64, 278, 279, 378, 380,  68, 100], dtype=int64),
 '1001472277': array([ 23,  35,  98, 463, 326, 309, 458, 493,  25, 330], dtype=int64),
 '1001472278': array([ 23,  35,  98, 309, 458, 493,  29, 463, 138, 326], dtype=int64),
 '1001472279': array([ 23,  35,  98, 342,  34,  39, 457, 460,  42, 456], dtype=int64),
 '1001472280': array([ 23,  35,  98, 460, 489,  34,  39, 457,  42, 184], dtype=int64),
 '1001472281': array([ 23,  35,  98,  34,  39, 457, 460,  42, 456, 489], dtype=int64),
 '1001472282': array([ 23,  35,  98, 347, 351, 348, 134, 184, 233, 362], dtype=int64),
 '1001472283': array([ 23,  35,  98, 349, 350, 491, 348, 134, 184, 233], dtype=int64),
 '1001472284': array([ 23,  35,  98, 444, 445, 429,  68,  86,  85, 325], dtype=int64),
 '1001472285': array([ 23,  35,  98,  54, 348, 134, 184, 233, 362, 317], dtype=int64),
 '100150617': array([ 23,  35,  98, 359, 363, 368, 141,  96, 132, 128], dtype=int64),
 '100150621': array([197, 205, 471,  23,  35,  98,  43, 487, 192, 196], dtype=int64),
 '100150622': array([281, 283,  30,  60,  23,  35,  98, 117, 280, 159], dtype=int64),
 '100150896': array([288, 267, 276,  23,  35,  98, 282, 285, 286, 162], dtype=int64),
 '100156057': array([ 44, 155, 157, 158, 159,  23,  35,  98, 167, 117], dtype=int64),
 '100156058': array([159,  23,  35,  98, 117, 280, 160,  44, 281, 283], dtype=int64),
 '100156059': array([ 60,  23,  35,  98, 281, 283,  30, 117, 280, 159], dtype=int64),
 '100156060': array([158, 155, 157,  44, 160,  23,  35,  98, 117, 280], dtype=int64),
 '100156061': array([160,  23,  35,  98, 117, 280, 159, 158, 281, 283], dtype=int64),
 '100156064': array([155, 157, 158,  44,  23,  35,  98, 117, 280, 281], dtype=int64),
 '100156065': array([ 49, 156,  23,  35,  98, 281, 283, 117, 280, 159], dtype=int64),
 '100156069': array([285, 267, 276,  23,  35,  98, 282, 288, 286, 162], dtype=int64),
 '100156070': array([282, 267, 276,  23,  35,  98, 285, 288, 286, 162], dtype=int64),
 '100156076': array([122, 148, 153,  79, 118, 154,  23,  35,  98,  11], dtype=int64),
 '100156083': array([243, 246, 481,  23,  35,  98, 293, 298, 299, 242], dtype=int64),
 '100156085': array([102, 146,  45,  59, 113, 145, 114, 135,  23,  35], dtype=int64),
 '100156088': array([264,  23,  35,  98, 394, 304, 310, 211, 219, 305], dtype=int64),
 '100156089': array([340, 482, 320, 339, 346, 356,  23,  35,  98, 418], dtype=int64),
 '100156090': array([ 23,  35,  98, 340, 482, 289, 242, 320, 339, 346], dtype=int64),
 '100156093': array([ 23,  35,  98, 453, 454, 340, 482, 289, 242, 320], dtype=int64),
 '100156095': array([464, 485,  23,  35,  98, 340, 482, 289, 242,   8], dtype=int64),
 '100156097': array([487,  23,  35,  98, 258, 259, 192, 196, 208, 471], dtype=int64),
 '100156098': array([212, 221,  23,  35,  98, 203,  71, 439, 409, 185], dtype=int64),
 '100156101': array([438, 440,  23,  35,  98, 203, 188,  71, 439,  70], dtype=int64),
 '100156102': array([209, 220,  23,  35,  98, 441, 465, 265, 438, 440], dtype=int64),
 '100156104': array([433,  23,  35,  98, 439, 188,  70, 187, 373, 375], dtype=int64),
 '100156105': array([188,  70,  23,  35,  98, 187, 433, 203,  71, 185], dtype=int64),
 '100156106': array([479, 272,  23,  35,  98,  96, 132, 250, 444, 445], dtype=int64),
 '100156107': array([272, 479,  23,  35,  98, 142, 195, 206,  67, 108], dtype=int64),
 '100163394': array([ 29, 138,  23,  35,  98, 168, 167, 130,  25, 330], dtype=int64),
 '100163756': array([ 92, 202, 204, 207,  23,  35,  98,  10, 255, 260], dtype=int64),
 '100163757': array([189, 369, 403, 405, 468,  23,  35,  98, 104, 361], dtype=int64),
 '100163759': array([373, 375, 396, 400, 361, 364,  23,  35,  98, 112], dtype=int64),
 '100163761': array([409, 412,  56, 387, 132,  23,  35,  98, 250, 212], dtype=int64),
 '100166662': array([107, 414, 416,  23,  35,  98,  99, 191, 193, 201], dtype=int64),
 '100166663': array([357, 366,  23,  35,  98,   8, 361, 364, 106, 259], dtype=int64),
 '100166664': array([358, 360,  23,  35,  98, 104, 403, 405, 468,  96], dtype=int64),
 '100166665': array([397, 401,  23,  35,  98,  96, 132, 128,  99, 191], dtype=int64),
 '100167144': array([418,  41, 126, 164, 386, 406, 385, 395, 163, 127], dtype=int64),
 '100167145': array([418,  41, 126, 164, 386, 406, 385, 395, 163,  23], dtype=int64),
 '100167146': array([139, 390, 484, 149, 389, 431, 119, 391, 392, 150], dtype=int64),
 '1020148': array([ 23,  35,  98, 325, 327, 478, 254, 256, 444, 445], dtype=int64),
 '1020171': array([ 23,  35,  98, 321, 436, 322, 443, 495,  26, 394], dtype=int64),
 '1020192': array([444, 445, 429,  23,  35,  98, 491, 316, 427, 449], dtype=int64),
 '1020955': array([463, 326, 309, 458, 493,  23,  35,  98, 452,  28], dtype=int64),
 '1021017': array([ 23,  35,  98, 175, 462, 316, 427, 449, 448, 321], dtype=int64),
 '1021058': array([117, 157, 158,  44,  23,  35,  98, 280, 168, 155], dtype=int64),
 '1021068': array([459, 323,  23,  35,  98, 447, 451, 331, 491, 432], dtype=int64),
 '1021073': array([131, 328,  23,  35,  98, 130,  25, 330, 331, 324], dtype=int64),
 '1021085': array([316, 427, 449,  23,  35,  98, 448, 313, 314, 444], dtype=int64),
 '1021087': array([  9, 353,  23,  35,  98, 367, 370, 176, 137, 419], dtype=int64),
 '1021094': array([269, 270, 273,  23,  35,  98, 136, 181, 176, 419], dtype=int64),
 '1021102': array([275, 352, 354, 269, 270, 273,  23,  35,  98, 335], dtype=int64),
 '1021109': array([488, 343,  23,  35,  98, 178, 341, 314,  64, 247], dtype=int64),
 '1021114': array([448, 313,  23,  35,  98, 316, 427, 449, 314, 420], dtype=int64),
 '1021176': array([177, 321, 436,  23,  35,  98, 322, 443, 495,  26], dtype=int64),
 '1021183': array([322, 443, 495,  23,  35,  98, 321, 436, 429,  26], dtype=int64),
 '1021185': array([329, 477,  23,  35,  98, 133, 435, 446, 459, 316], dtype=int64),
 '1021188': array([  7,  23,  35,  98, 398, 404, 190, 486, 216, 214], dtype=int64),
 '1021216': array([211, 219, 174,  23,  35,  98, 217, 218, 264, 199], dtype=int64),
 '1021224': array([ 23,  35,  98, 444, 445, 321, 436, 325, 327, 478], dtype=int64),
 '1021228': array([ 23,  35,  98, 444, 445, 429, 216, 325, 327, 478], dtype=int64),
 '1021229': array([184, 233, 239, 252,  33, 238,  23,  35,  98, 240], dtype=int64),
 '1021269': array([463, 326, 309, 458, 493,  23,  35,  98, 116, 213], dtype=int64),
 '1021731': array([178,  23,  35,  98, 488, 343, 341, 461, 455, 137], dtype=int64),
 '1021885': array([269, 270, 273,  23,  35,  98, 136, 181, 176, 419], dtype=int64),
 '1021931': array([321, 436,  23,  35,  98, 394, 177, 488, 343, 322], dtype=int64),
 '103740': array([365, 483,  23,  35,  98, 369, 259, 258, 438, 440], dtype=int64),
 '103741': array([259, 258,  23,  35,  98,  43, 208, 471, 438, 440], dtype=int64),

In [271]:
pd.DataFrame(idx)

        0    1    2    3    4    5    6    7    8    9
0      23   35   98   67  108  418  374   41  126  164
1      92   10  255  260  261   23   35   98  202  204
2     441  465   23   35   98  209  220  265  198  308
3     365  483   23   35   98  259  258    8  361  364
4     259  258   23   35   98   43  365  483  487    8
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
1597   23   35   98  361  364  112  191  193  201  257
1598   23   35   98  361  364  257  262  263  112  488
1599  259  258   23   35   98  369   43  365  483  438
1600  212  221   23   35   98  409  250  412   56  387
1601  398  404   23   35   98  471  409  132  251    7

[1602 rows x 10 columns]

In [260]:
idx

array([[ 23,  35,  98, ...,  41, 126, 164],
       [ 92,  10, 255, ...,  98, 202, 204],
       [441, 465,  23, ..., 265, 198, 308],
       ...,
       [259, 258,  23, ..., 365, 483, 438],
       [212, 221,  23, ..., 412,  56, 387],
       [398, 404,  23, ..., 132, 251,   7]], dtype=int64)

In [246]:
base_index

{0: 245,
 1: 3,
 2: 443,
 3: 147,
 4: 502,
 5: 220,
 6: 385,
 7: 114,
 8: 505,
 9: 32,
 10: 241,
 11: 339,
 12: 346,
 13: 343,
 14: 337,
 15: 43,
 16: 338,
 17: 348,
 18: 341,
 19: 352,
 20: 353,
 21: 354,
 22: 351,
 23: 503,
 24: 44,
 25: 84,
 26: 55,
 27: 466,
 28: 78,
 29: 95,
 30: 183,
 31: 118,
 32: 119,
 33: 145,
 34: 506,
 35: 504,
 36: 134,
 37: 507,
 38: 483,
 39: 508,
 40: 437,
 41: 295,
 42: 509,
 43: 510,
 44: 177,
 45: 187,
 46: 182,
 47: 181,
 48: 512,
 49: 179,
 50: 511,
 51: 484,
 52: 132,
 53: 298,
 54: 164,
 55: 249,
 56: 263,
 57: 206,
 58: 485,
 59: 189,
 60: 186,
 61: 222,
 62: 513,
 63: 487,
 64: 488,
 65: 470,
 66: 300,
 67: 315,
 68: 489,
 69: 490,
 70: 491,
 71: 492,
 72: 358,
 73: 349,
 74: 345,
 75: 340,
 76: 342,
 77: 364,
 78: 362,
 79: 356,
 80: 496,
 81: 373,
 82: 376,
 83: 374,
 84: 370,
 85: 493,
 86: 494,
 87: 495,
 88: 446,
 89: 2,
 90: 435,
 91: 434,
 92: 497,
 93: 447,
 94: 366,
 95: 426,
 96: 498,
 97: 42,
 98: 436,
 99: 248,
 100: 102,
 101: 372,
 102: 433,
 103: 359,
 104: 256,
 105: 365,
 106: 262,
 107: 411,
 108: 319,
 109: 449,
 110: 454,
 111: 347,
 112: 283,
 113: 190,
 114: 191,
 115: 456,
 116: 79,
 117: 171,
 118: 357,
 119: 423,
 120: 350,
 121: 344,
 122: 336,
 123: 333,
 124: 244,
 125: 309,
 126: 305,
 127: 301,
 128: 499,
 129: 500,
 130: 93,
 131: 89,
 132: 501,
 133: 59,
 134: 201,
 135: 192,
 136: 7,
 137: 165,
 138: 94,
 139: 420,
 140: 99,
 141: 268,
 142: 274,
 143: 252,
 144: 278,
 145: 188,
 146: 455,
 147: 471,
 148: 335,
 149: 432,
 150: 429,
 151: 331,
 152: 332,
 153: 334,
 154: 355,
 155: 176,
 156: 180,
 157: 175,
 158: 178,
 159: 173,
 160: 174,
 161: 360,
 162: 199,
 163: 297,
 164: 304,
 165: 310,
 166: 314,
 167: 92,
 168: 91,
 169: 96,
 170: 87,
 171: 98,
 172: 101,
 173: 62,
 174: 168,
 175: 71,
 176: 45,
 177: 49,
 178: 15,
 179: 135,
 180: 136,
 181: 6,
 182: 227,
 183: 126,
 184: 143,
 185: 219,
 186: 439,
 187: 218,
 188: 327,
 189: 280,
 190: 122,
 191: 276,
 192: 392,
 193: 277,
 194: 211,
 195: 210,
 196: 391,
 197: 394,
 198: 213,
 199: 441,
 200: 482,
 201: 275,
 202: 269,
 203: 328,
 204: 270,
 205: 395,
 206: 209,
 207: 216,
 208: 390,
 209: 323,
 210: 477,
 211: 166,
 212: 321,
 213: 18,
 214: 129,
 215: 478,
 216: 1,
 217: 170,
 218: 169,
 219: 167,
 220: 324,
 221: 322,
 222: 467,
 223: 459,
 224: 224,
 225: 226,
 226: 442,
 227: 461,
 228: 462,
 229: 465,
 230: 225,
 231: 140,
 232: 148,
 233: 144,
 234: 223,
 235: 457,
 236: 464,
 237: 448,
 238: 146,
 239: 138,
 240: 142,
 241: 141,
 242: 486,
 243: 292,
 244: 139,
 245: 480,
 246: 294,
 247: 481,
 248: 41,
 249: 40,
 250: 39,
 251: 20,
 252: 137,
 253: 405,
 254: 215,
 255: 240,
 256: 214,
 257: 259,
 258: 291,
 259: 290,
 260: 242,
 261: 243,
 262: 261,
 263: 260,
 264: 16,
 265: 81,
 266: 115,
 267: 193,
 268: 440,
 269: 29,
 270: 28,
 271: 116,
 272: 408,
 273: 31,
 274: 463,
 275: 30,
 276: 194,
 277: 10,
 278: 453,
 279: 19,
 280: 172,
 281: 185,
 282: 196,
 283: 184,
 284: 403,
 285: 197,
 286: 198,
 287: 11,
 288: 195,
 289: 221,
 290: 163,
 291: 229,
 292: 207,
 293: 232,
 294: 384,
 295: 230,
 296: 383,
 297: 162,
 298: 233,
 299: 231,
 300: 208,
 301: 237,
 302: 236,
 303: 234,
 304: 35,
 305: 37,
 306: 238,
 307: 239,
 308: 212,
 309: 75,
 310: 36,
 311: 235,
 312: 228,
 313: 65,
 314: 69,
 315: 17,
 316: 47,
 317: 200,
 318: 204,
 319: 63,
 320: 378,
 321: 50,
 322: 53,
 323: 67,
 324: 85,
 325: 58,
 326: 72,
 327: 56,
 328: 90,
 329: 60,
 330: 86,
 331: 107,
 332: 203,
 333: 205,
 334: 88,
 335: 22,
 336: 202,
 337: 273,
 338: 97,
 339: 380,
 340: 381,
 341: 14,
 342: 103,
 343: 13,
 344: 100,
 345: 272,
 346: 379,
 347: 152,
 348: 149,
 349: 158,
 350: 159,
 351: 153,
 352: 24,
 353: 33,
 354: 25,
 355: 151,
 356: 377,
 357: 413,
 358: 414,
 359: 265,
 360: 415,
 361: 282,
 362: 150,
 363: 267,
 364: 281,
 365: 289,
 366: 412,
 367: 156,
 368: 266,
 369: 279,
 370: 157,
 371: 428,
 372: 399,
 373: 285,
 374: 311,
 375: 284,
 376: 425,
 377: 130,
 378: 112,
 379: 23,
 380: 113,
 381: 131,
 382: 424,
 383: 306,
 384: 308,
 385: 303,
 386: 296,
 387: 264,
 388: 427,
 389: 430,
 390: 419,
 391: 421,
 392: 422,
 393: 299,
 394: 133,
 395: 302,
 396: 258,
 397: 416,
 398: 320,
 399: 251,
 400: 257,
 401: 417,
 402: 250,
 403: 255,
 404: 217,
 405: 253,
 406: 312,
 407: 452,
 408: 401,
 409: 286,
 410: 479,
 411: 246,
 412: 287,
 413: 247,
 414: 409,
 415: 402,
 416: 410,
 417: 313,
 418: 476,
 419: 26,
 420: 117,
 421: 38,
 422: 120,
 423: 109,
 424: 108,
 425: 472,
 426: 27,
 427: 48,
 428: 155,
 429: 125,
 430: 368,
 431: 431,
 432: 110,
 433: 329,
 434: 161,
 435: 4,
 436: 51,
 437: 111,
 438: 325,
 439: 330,
 440: 326,
 441: 397,
 442: 21,
 443: 54,
 444: 123,
 445: 124,
 446: 5,
 447: 9,
 448: 66,
 449: 46,
 450: 64,
 451: 8,
 452: 77,
 453: 387,
 454: 386,
 455: 83,
 456: 80,
 457: 106,
 458: 76,
 459: 68,
 460: 105,
 461: 82,
 462: 70,
 463: 73,
 464: 388,
 465: 396,
 466: 404,
 467: 367,
 468: 254,
 469: 363,
 470: 400,
 471: 393,
 472: 128,
 473: 307,
 474: 375,
 475: 271,
 476: 371,
 477: 61,
 478: 57,
 479: 407,
 480: 398,
 481: 293,
 482: 382,
 483: 288,
 484: 418,
 485: 389,
 486: 121,
 487: 406,
 488: 12,
 489: 104,
 490: 154,
 491: 127,
 492: 160,
 493: 74,
 494: 34,
 495: 52}

vecs_train, vecs_test, targets_train, targets_test = train_test_split(vecs, targets, test_size=0.3, random_state=12345)
idx_train, idx_test= train_test_split(idx, test_size=0.3, random_state=12345)
print(vecs_train.shape)
print(vecs_test.shape)
print(targets_train.shape)
print(targets_test.shape)

In [263]:
accuracy_aggregator(targets, idx, base_index)

79.27590511860174

In [170]:
targets_train

1213    328
674     341
826     130
1046    245
1437    207
       ...
1444    234
129     389
1309    186
1509    320
482     153
Name: product_id, Length: 1121, dtype: int64

In [212]:
base_query_train = pd.DataFrame()
# для каждого запроса из обучающего набора данных
for i,x in zip(range(vecs_train.shape[0]), targets_train.index):
    # берем индексы FAISS для первых 15 рекомендаций
    df = pd.DataFrame(idx_train[i])
    # берем расстояния от запроса до рекомендаций FAISS
    df = pd.concat([df, pd.DataFrame(vecs_train[i])], axis=1)
    df.columns = ['idx', 'distance']
    
    # индекс вектора-запроса для получения его координат
    df['query_idx'] = x
    
    # индекс вектора рекомендаций экспертов
    df['true_answer_for_query_idx'] = targets_train[x]
    base_query_train = pd.concat([base_query_train, df], ignore_index=True)

In [213]:
base_query_train

       idx  distance  query_idx  true_answer_for_query_idx
0      203  0.000000       1213                        328
1       71  0.432659       1213                        328
2      185  0.533340       1213                        328
3      188  0.647902       1213                        328
4      439  0.693470       1213                        328
...    ...       ...        ...                        ...
16810  349  1.662705        482                        153
16811  350  1.662705        482                        153
16812  362  1.667416        482                        153
16813  434  1.692205        482                        153
16814  492  1.692205        482                        153

[16815 rows x 4 columns]

In [214]:
base_query_test = pd.DataFrame()
for i,x in zip(range(vecs_test.shape[0]), targets_test.index):
    df = pd.DataFrame(idx_test[i])

    df = pd.concat([df, pd.DataFrame(vecs_test[i])], axis=1)
    df.columns = ['idx', 'distance']
    
    df['query_idx'] = x
    
    df['true_answer_for_query_idx'] = targets_test[x]
    base_query_test = pd.concat([base_query_test, df], ignore_index=True)

In [215]:
base_query_test

      idx  distance  query_idx  true_answer_for_query_idx
0     419  0.396210       1465                         26
1     426  0.396210       1465                         26
2      23  1.000000       1465                         26
3      35  1.000000       1465                         26
4      98  1.000000       1465                         26
...   ...       ...        ...                        ...
7210  200  1.587673       1600                        321
7211  438  1.618829       1600                        321
7212  440  1.618829       1600                        321
7213  203  1.639271       1600                        321
7214  188  1.645758       1600                        321

[7215 rows x 4 columns]

In [181]:
# функция для получения индекса рекомендаций в базовом наборе товаров по индексу FAISS
def get_base_idx(row):
    return base_index[row['idx']]

In [216]:
# по внутреннему индексу FAISS восстанавливаем индекс рекомендованного товара в базовом наборе
base_query_train['true_answer_for_idx'] = base_query_train.apply(get_base_idx, axis=1)
base_query_test['true_answer_for_idx'] = base_query_test.apply(get_base_idx, axis=1)

base_query_train['target'] = (base_query_train['true_answer_for_query_idx'] == base_query_train['true_answer_for_idx']).astype('int')
base_query_test['target'] = (base_query_test['true_answer_for_query_idx'] == base_query_test['true_answer_for_idx']).astype('int')

In [217]:
base_query_train

,idx,distance,query_idx,true_answer_for_query_idx,true_answer_for_idx,target
0,203,0.000000,1213,328,328,1
1,71,0.432659,1213,328,492,0
2,185,0.533340,1213,328,219,0
3,188,0.647902,1213,328,327,0
4,439,0.693470,1213,328,330,0
...,...,...,...,...,...,...
16810,349,1.662705,482,153,158,0
16811,350,1.662705,482,153,159,0
16812,362,1.667416,482,153,150,0
16813,434,1.692205,482,153,161,0
16814,492,1.692205,482,153,160,0

# OHE
encoder = OneHotEncoder()
try:
    new_demensions = encoder.fit_transform(products_final[['dimension']]).toarray()
    products_final_ohe = pd.concat([products_final, pd.DataFrame(data=new_demensions, columns=encoder.categories_[0])], axis=1).drop(['dimension'], axis=1)
except:
    pass
try:
    new_demensions = encoder.transform(parser_final[['dimension']]).toarray()
    parser_final_ohe = pd.concat([parser_final, pd.DataFrame(data=new_demensions, columns=encoder.categories_[0])], axis=1).drop(['dimension'], axis=1)
except:
    pass

def features_to_siries(list_of_features):
    f=[]
    for c in list_of_features:
        f.append(c)
    return f

train_f['feats'] = train_f.apply(lambda x: features_to_siries([x['price'],x['quantity'],x['кг'],x['л'],x['шт'],x['nan']]), axis=1)
base_f['feats'] = base_f.apply(lambda x: features_to_siries([x['price'],x['quantity'],x['кг'],x['л'],x['шт'],x['nan']]), axis=1)

base_f

total_table_alternative = df_for_cb.merge(train_f['feats'], 
                              how='left',
                              left_on='query_idx',
                              right_index=True).\
                        merge(base_f['feats'], 
                              how='left',
                              left_on='base_idx',
                              right_index=True)

total_table_alternative

In [221]:
total_table_train = base_query_train.merge(train.loc[:,['price','article','quantity','dimension']], 
                                          how='left',
                                          left_on='query_idx',
                                          right_index=True).\
                                    merge(base.loc[:,['recommended_price','article','quantity','dimension']], 
                                          how='left',
                                          left_on='true_answer_for_idx',
                                          right_index=True)
total_table_train

,idx,distance,query_idx,true_answer_for_query_idx,true_answer_for_idx,target,price,article_x,quantity_x,dimension_x,recommended_price,article_y,quantity_y,dimension_y
0,203,0.000000,1213,328,328,1,793.0,,0.9,л,901.0,058-09,0.9,л
1,71,0.432659,1213,328,492,0,793.0,,0.9,л,1728.0,м028-2,2.0,шт
2,185,0.533340,1213,328,219,0,793.0,,0.9,л,1706.0,058-2,2.0,л
3,188,0.647902,1213,328,327,0,793.0,,0.9,л,885.0,056-09,0.9,л
4,439,0.693470,1213,328,330,0,793.0,,0.9,л,813.0,059-09,0.9,л
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16810,349,1.662705,482,153,158,0,1064.0,290-3,3.0,л,436.0,287-1,1.0,л
16811,350,1.662705,482,153,159,0,1064.0,290-3,3.0,л,1070.0,287-3,3.0,л
16812,362,1.667416,482,153,150,0,1064.0,290-3,3.0,л,1041.0,248-3,3.0,л
16813,434,1.692205,482,153,161,0,1064.0,290-3,3.0,л,1070.0,289-3,3.0,л
16814,492,1.692205,482,153,160,0,1064.0,290-3,3.0,л,436.0,289-1,1.0,л

In [222]:
total_table_test = base_query_test.merge(train.loc[:,['price','article','quantity','dimension']], 
                                          how='left',
                                          left_on='query_idx',
                                          right_index=True).\
                                    merge(base.loc[:,['recommended_price','article','quantity','dimension']], 
                                          how='left',
                                          left_on='true_answer_for_idx',
                                          right_index=True)

In [ ]:
def article_check(article_x, article_y):
    if article_x == '':
        return 'unknown'
    else:
        return (article_x == article_y) * 1

total_table['article'] = total_table.apply(lambda x: article_check(x['article_x'], x['article_y']))

In [225]:
total_table_train['quantity'] = (total_table_train['quantity_x'] == total_table_train['quantity_y']) * 1
total_table_train['dimension'] = (total_table_train['dimension_x'] == total_table_train['dimension_y']) * 1
total_table_train['diff_price'] = np.abs(total_table_train['price'] - total_table_train['recommended_price'])
#total_table['article'] = total_table['article_x'].apply(lambda x: 'unknown' if type(x['article_x']) == '' else ((x['article_x'] == x['article_y']) * 1))
total_table_train['article'] = total_table_train['article_x'].isna()
for i in range(total_table_train.shape[0]):
    if total_table_train['article_x'][i] == '':
        total_table_train['article'][i] = 'unknown'
    else:
        total_table_train['article'][i] = str((total_table_train['article_x'][i] == total_table_train['article_y'][i]) * 1)

C:\Users\den_m\AppData\Local\Temp\ipykernel_14664\2525029445.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_table_train['article'][i]='unknown'

In [226]:
total_table_train

,idx,distance,query_idx,true_answer_for_query_idx,true_answer_for_idx,target,price,article_x,quantity_x,dimension_x,recommended_price,article_y,quantity_y,dimension_y,quantity,dimension,diff_price,article
0,203,0.000000,1213,328,328,1,793.0,,0.9,л,901.0,058-09,0.9,л,1,1,108.0,unknown
1,71,0.432659,1213,328,492,0,793.0,,0.9,л,1728.0,м028-2,2.0,шт,0,0,935.0,unknown
2,185,0.533340,1213,328,219,0,793.0,,0.9,л,1706.0,058-2,2.0,л,0,1,913.0,unknown
3,188,0.647902,1213,328,327,0,793.0,,0.9,л,885.0,056-09,0.9,л,1,1,92.0,unknown
4,439,0.693470,1213,328,330,0,793.0,,0.9,л,813.0,059-09,0.9,л,1,1,20.0,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16810,349,1.662705,482,153,158,0,1064.0,290-3,3.0,л,436.0,287-1,1.0,л,0,1,628.0,0
16811,350,1.662705,482,153,159,0,1064.0,290-3,3.0,л,1070.0,287-3,3.0,л,1,1,6.0,0
16812,362,1.667416,482,153,150,0,1064.0,290-3,3.0,л,1041.0,248-3,3.0,л,1,1,23.0,0
16813,434,1.692205,482,153,161,0,1064.0,290-3,3.0,л,1070.0,289-3,3.0,л,1,1,6.0,0
16814,492,1.692205,482,153,160,0,1064.0,290-3,3.0,л,436.0,289-1,1.0,л,0,1,628.0,0

In [227]:
total_table_train = total_table_train.drop(['article_x', 'article_y', 'quantity_x',
                      'quantity_y', 'dimension_x','dimension_y',
                      'recommended_price', 'price'], axis=1)

In [228]:
total_table_train

,idx,distance,query_idx,true_answer_for_query_idx,true_answer_for_idx,target,quantity,dimension,diff_price,article
0,203,0.000000,1213,328,328,1,1,1,108.0,unknown
1,71,0.432659,1213,328,492,0,0,0,935.0,unknown
2,185,0.533340,1213,328,219,0,0,1,913.0,unknown
3,188,0.647902,1213,328,327,0,1,1,92.0,unknown
4,439,0.693470,1213,328,330,0,1,1,20.0,unknown
...,...,...,...,...,...,...,...,...,...,...
16810,349,1.662705,482,153,158,0,0,1,628.0,0
16811,350,1.662705,482,153,159,0,1,1,6.0,0
16812,362,1.667416,482,153,150,0,1,1,23.0,0
16813,434,1.692205,482,153,161,0,1,1,6.0,0
16814,492,1.692205,482,153,160,0,0,1,628.0,0

In [ ]:
total_table_train = total_table_train.drop(['idx', 'query_idx',
         'target_idx', 'base_idx'], axis=1)

In [ ]:
total_scaler = MinMaxScaler()
total_table[['distance', 'diff_price']] = total_scaler.fit_transform(total_table[['distance', 'diff_price']])

In [ ]:
scaler = MinMaxScaler()
train.columns = train.columns.astype('str')
base.columns = base.columns.astype('str')
base['price'] = base['recommended_price']
base_f = pd.DataFrame(scaler.fit_transform(base.loc[:,['price','quantity','кг','л','шт','nan']]), columns=scaler.feature_names_in_).set_index(base_tfidf.index)
train_f = pd.DataFrame(scaler.transform(train.loc[:,['price','quantity','кг','л','шт','nan']]), columns=scaler.feature_names_in_)
#base_f = base_f.dropna(subset=['price'])
base_f

In [236]:
total_encoder = OneHotEncoder()

dem = total_encoder.fit_transform(total_table_train[['article']]).toarray()
total_table_train = pd.concat([total_table_train, pd.DataFrame(data=dem, columns=total_encoder.categories_[0])], axis=1).drop(['article'], axis=1)

In [237]:
total_table_train = total_table_train.rename({"0":"art_0","1":"art_1", "unknown":"art_unknown"}, axis='columns')

In [238]:
total_table_train

,idx,distance,query_idx,true_answer_for_query_idx,true_answer_for_idx,target,quantity,dimension,diff_price,art_0,art_1,art_unknown
0,203,0.000000,1213,328,328,1,1,1,108.0,0.0,0.0,1.0
1,71,0.432659,1213,328,492,0,0,0,935.0,0.0,0.0,1.0
2,185,0.533340,1213,328,219,0,0,1,913.0,0.0,0.0,1.0
3,188,0.647902,1213,328,327,0,1,1,92.0,0.0,0.0,1.0
4,439,0.693470,1213,328,330,0,1,1,20.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
16810,349,1.662705,482,153,158,0,0,1,628.0,1.0,0.0,0.0
16811,350,1.662705,482,153,159,0,1,1,6.0,1.0,0.0,0.0
16812,362,1.667416,482,153,150,0,1,1,23.0,1.0,0.0,0.0
16813,434,1.692205,482,153,161,0,1,1,6.0,1.0,0.0,0.0
16814,492,1.692205,482,153,160,0,0,1,628.0,1.0,0.0,0.0

total_table['article'] = total_table['article_x'].apply(lambda x: x['article_x'])

In [231]:
total_table

,idx,distance,query_idx,true_answer_for_query_idx,true_answer_for_idx,target,quantity,dimension,diff_price,0,1,unknown
0,203,0.000000,1213,328,328,1,1,1,108.0,0.0,0.0,1.0
1,71,0.432659,1213,328,492,0,0,0,935.0,0.0,0.0,1.0
2,185,0.533340,1213,328,219,0,0,1,913.0,0.0,0.0,1.0
3,188,0.647902,1213,328,327,0,1,1,92.0,0.0,0.0,1.0
4,439,0.693470,1213,328,330,0,1,1,20.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
16810,349,1.662705,482,153,158,0,0,1,628.0,1.0,0.0,0.0
16811,350,1.662705,482,153,159,0,1,1,6.0,1.0,0.0,0.0
16812,362,1.667416,482,153,150,0,1,1,23.0,1.0,0.0,0.0
16813,434,1.692205,482,153,161,0,1,1,6.0,1.0,0.0,0.0
16814,492,1.692205,482,153,160,0,0,1,628.0,1.0,0.0,0.0

In [239]:
total_table.to_csv('tt_test_den.csv')